*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
}
body{
    background-color: rgb(111, 233, 247);
}
.wrapper{
    width: 600px;
    height: 300px;
    background-color: #ebe6e6;
    padding: 70px 40px 70px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 55%;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    border: 10px groove rgb(141, 246, 122);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    outline-style:groove;
    outline-color: coral;
}
.container{
    width: 45%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 15px;
    padding: 15px 10px;
}
input:focus{
    border-color: #3164ff;
}
.h1{
   text-align: center;
   text-decoration: solid;
   text-shadow: black;
   margin-top: 150px;
   color: black;
   font-size: 40px;
   font-family: sans-serif;
   font-weight: bold;
   text-decoration-thickness:initial;
   text-decoration: underline;

}
